<!--
  ~ Copyright (c) 2013 KloudTek Ltd
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="BuildMagic" verbose="1">
    <test name="All">
        <parameter name="tmpDir" value="_tmptests"/>
        <groups>
            <run>
                <exclude name="needsudo"/>
            </run>
        </groups>
        <classes>
            <class name="com.kloudtek.buildmagic.tools.createinstaller.CreateInstallerTests"/>
            <class name="com.kloudtek.buildmagic.tools.reconfigure.ReconfigureTests"/>
            <class name="com.kloudtek.buildmagic.tools.xml.XpathPropertiesTests"/>
            <class name="com.kloudtek.buildmagic.tools.xml.XmlDocumentTests"/>
        </classes>
    </test>
</suite>
